@font-face {
    font-family: 'Inter';
    src: url('Inter-VariableFont_opsz\,wght.ttf') format('truetype');
} 

html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

.main-body {
    position: relative;
    background-size: cover;
    height: 100vh;
    min-height: 100vh;
    min-width: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.main-body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.868), rgba(18, 18, 17, 0.594)) ;
}

#background-image{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;  
    min-height: 100%; 
    width: 100%;      
    height: 100%;     
    z-index: -2;     
    transform: translateX(-50%) translateY(-50%); /* Centers the video element precisely */
    object-fit: cover;
}

.login-card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 80px -30px #747272e7;
    width: 500px;
    padding: 3rem 4rem;
    border-radius: 2rem;
    height: 600px;
}
img{
    width: 30px;
}
.logo-h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
}
h1{
    font-size: 38px;
    margin-bottom: 0.5rem;
    text-align: center;
}

.btn{
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 3rem;
    background: #fff;
    color: #181818;
    margin-bottom: 1.7rem;
    font-weight: 600;
    transition: 400ms linear;
    font-size: 1rem;
}
.btn:hover{
    box-shadow: 0px 0px 80px -30px #ffffffe7;
}
.login-card .input-tag{
    width: 100%;
    height: 50px;
    margin: 1rem 0;   
}

.login-card .input-box{
    position: relative;
    color: #fff;
    background: transparent;
    border-radius: 4rem;
    font-size: 1.1rem;
    height: 50px;
    width: 100%;
    margin: 30px 0;
}
.input-box input{
    color: #fff;
    padding: 1.5rem 2rem;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 4rem;
}

.remember-forget{
    accent-color: #fff;
    display: flex;
    justify-content: space-between;
    margin-right: 3px;
    margin-bottom: 2.5rem;
    transition: 350ms ease-in-out;
}
.remember-me{
    display: flex;
}
input.check{
    display: inline-block;
    margin-right: 0.2rem;
}
.reset:hover{
    text-decoration: underline;
}

.reset{
    color: #fff;
    text-decoration: none;
}
.Register-flex{
    display: flex;
    justify-content: center;
}
p{
    padding-right: 10px;
}
.register{
    color: #fff;
    font-weight: 300;
}

@media (max-width: 125rem){
    #background-image{
        width: 100%;
    }
}

/* 709PX */
@media (max-width:44.37rem) {
    h1{
        font-size: 36px;
        margin-bottom: 30px;
    }
    .remember-forget{
        font-size: 12px;
    }
    .login-card .input-box{
        margin: 28px 0;
    }
    .Register-flex{
        font-size: 12px;
    }
    .login-card{
        width: 500px;
        height: fit-content;
    }
}

/* 628PX */
@media (max-width:39.3rem) {
    
    h1{
        font-size: 34px;
    }
    .login-card .input-box{
        margin: 25px 0;
    }
    .login-card{
        width: 500px;
        height: 520px;
        padding: 2.5rem 3rem;
    }
}

/* 480PX */
@media (max-width:30rem) {
    h1{
        font-size: 30px;
    }
    .login-card{
        width: 380px;
        height: 450px;
        padding: 2.5rem;
    }
    .input-box input{
        padding: 20px 25px;
    }
    .remember-forget{
        font-size: 12px;
    }
    .Register-flex{
        font-size: 12px;
    }
    .btn{
        height: 30px;
        font-size: 14px;
        height: 2.2rem;
    }
    .login-card .input-box{
        margin: 20px 0;
    }
}

/* 375PX */
@media (max-width:23.5rem) {

    .login-card{
        width: 350px;
        height: 400px;
        padding: 2.5rem;
    }

    .input-box input::placeholder{
        font-size: 12px;
    }
    .my-box{
        margin-bottom: 1rem;
    }
    .login-card .input-box{
        margin-top: 0;
        height: 40px;
    }
    .remember-forget{
        margin-right: 0;
        margin-bottom: 30px;
        font-size: 11px;
    }
    button.btn{
        margin-bottom: 20px;
    }
    p{
        font-size: 11px;
    }
    .register{
        font-size: 11px;
    }
    input{
        font-size: 12px;
    }
}

/* 320PX */
@media (max-width:23.5rem) {
    h1{
        font-size: 24px;
        margin-bottom: 2rem;
    }
    img{
        width: 25px;
    }
    .input-box input{
        padding: 15px 28px;
        height: 10px;
    }
    .login-card .input-box{
        margin-top: 0;
        margin-bottom: 10px;
    }
}
